<head>
  <meta charset="UTF-8">
  <title>Saze</title>
<!--
  <link rel="stylesheet" type="text/css" href="/lib/jqm/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/lib/jplayer/skin/extended-demo.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
-->
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>