<header data-role="header">
  <h1><a href="/home">Saze</a></h1>
  <input type="search" placeholder="Title, Artist...">
  <nav id="menu">
    <ul>
      <li>
        <i class="fa fa-bars" aria-hidden="true"></i>
        <ul class="submenu">
          <li><a href="/home">Tracks</a></li>
          <li><a href="/playlist">Playlists</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </li>
      <li>
        <i class="fa fa-user" aria-hidden="true"></i>
        <ul class="submenu">
          <li><a>My Account</a></li>
          <li><a>Logout</a></li>
        </ul>
      </li>
      <li>
        <a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
      </li>
    </ul>
  </nav>
</header>
