<div id="jquery_jplayer" class="jp-jplayer"></div>

<div id="jp_container" role="application" aria-label="media player" data-enhance="false">
  <div class="jp-details">
    <div class="jp-title" aria-label="title">&nbsp;</div>
  </div>


  <div class="jp-gui">

    <div class="jp-state-controls">
      <i class="fa fa-step-backward"></i>
      <i class="fa fa-play"></i>
      <i class="fa fa-step-forward"></i>
    </div>

    <div class="jp-volume-controls">
      <i class="fa fa-volume-off jp-mute"></i>
      <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      <i class="fa fa-volume-up jp-unmute"></i>
    </div>

    <div class="jp-seek-bar">
      <div class="jp-play-bar"></div>
    </div>

  </div>

  <div class="jp-no-solution" data-enhance="false">
    <span>Update Required</span>
    To play the media you will need to either update your browser to a recent version or update your
    <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
  </div>

</div>
