<aside id="player-aside">
  <div id="vinyl-container">
    <img src="cover/exemple.jpg" alt="Cover container" class="cover">
    <img src="img/vinyl.png" alt="Vinyl" id="vinyl">
    <img src="img/vinyl-center.png" alt="Center of the vinyl" id="vinyl-center" class="infinite-rotate">
  </div>

  <% include jplayer.ejs %>
</aside>
