<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

  <div data-role="page" id="e404">
    <% include partials/header.ejs %>
    <main id="main">
      <% include partials/player-aside.ejs %>
      <% include partials/nav-aside.ejs %>
      <main id="main-content">
        <div>
          <h3>Error 404</h2>
          <p>Oh ! You seem lost...</p>
          <p>Checkout the header upstairs <br>or the menu on your right</p>
        </div>
      </main>
    </main>
  </div>
  <% include partials/full-scripts.ejs %>
</body>
</html>
