<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

  <div data-role="page" id="e404">
    <% include partials/header.ejs %>
    <main id="main">
      <% include partials/player-aside.ejs %>
      <% include partials/nav-aside.ejs %>
      <main id="main-content">
        <div>
          <h3>Error 500</h2>
          <p>Oh ! The site is not avaible...</p>
          <p>We are now on this issue, please wait or contact the admin.</p>
        </div>
      </main>
    </main>
  </div>
  <% include partials/full-scripts.ejs %>
</body>
</html>
