<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
 
  <div data-role="page" id="home">
    <div data-role="header">
      <h1>Home</h1>
    </div>
    <div role="main" class="ui-content">
      <p>It will display the home page</p>
      <a href="/index">Index</a>
      <a href="/playlist">Playlist</a>
      <a href="/search">Search</a>
    </div>
  </div>
  <% include partials/jplayer.ejs %>
  </div>
  <% include partials/full-scripts.ejs %>
</body>
</html>