<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

  <div data-role="page" id="home">
    <% include partials/header.ejs %>
    <main id="main">
      <% include partials/player-aside.ejs %>
      <main id="main-content">

      </main>
      <% include partials/nav-aside.ejs %>
    </main>
  </div>
  <% include partials/full-scripts.ejs %>
</body>
</html>
