<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
 
  <div data-role="page" id="foo">
    <div data-role="header">
      <h1>Foo</h1>
    </div>
    <div role="main" class="ui-content">
      <p>I'm first in the source order so I'm shown as the page.</p>
      <p>View internal page called <a href="page2">bar</a></p>
    </div>
    <div data-role="footer">
      <h4>Page Footer</h4>
    </div>
  </div>
  <% include partials/jplayer.ejs %>
  </div>
  <% include partials/scripts.ejs %>
</body>
</html>