<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
 
  <div data-role="page" id="home">
    <div data-role="header">
      <h1>Index</h1>
    </div>
    <div role="main" class="ui-content">
      <p>I could sign up and sign in on this page</p>
      <a href="/home">Home</a>
      <a href="/playlist">Playlist</a>
      <a href="/search">Search</a>
    </div>
  </div>
  </div>
  <% include partials/limited-scripts.ejs %>
</body>
</html>