<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>

  <div data-role="page" id="playlist">
    <% include partials/header.ejs %>
    <main>
    </main>
    <% include partials/jplayer.ejs %>
  </div>
  <% include partials/full-scripts.ejs %>
</body>
</html>
