<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
 
  <div data-role="page" id="bar">
    <div data-role="header">
      <h1>Bar</h1>
    </div>
    <div role="main" class="ui-content">
      <p>I'm the second in the source order so I'm hidden when the page loads. I'm just shown if a link that references my id is beeing clicked.</p>
      <p><a href="index">Back to foo</a></p>
    </div>
    <div data-role="footer">
      <h4>Page Footer</h4>
    </div>
    <div id="jquery_jplayer_1" class="jp-jplayer" data-enhance="false" data-role="jp" data-id="jp"></div>
    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player" data-enhance="false" data-role="jp-container" data-id="jp-container">
    </div>
  </div>
  <% include partials/jplayer.ejs %>
  </div>
  
  <% include partials/scripts.ejs %>
</body>
</html>