<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
 
  <div data-role="page" id="home">
    <div data-role="header">
      <h1>Playlist</h1>
    </div>
    <div role="main" class="ui-content">
      <p>It will display the playlists page</p>
    </div>
  </div>
  <% include partials/jplayer.ejs %>
  </div>
  <% include partials/full-scripts.ejs %>
</body>
</html>