#home {
  #nav-aside {
    background-color: #333;
    position: absolute;
    right: 0px;
    width: 20%;
    height: 100%;
  }
  #player-aside {
    background-color: #333;
    position: absolute;
    left: 0px;
    width: 20%;
    height: 100%;
  }
}
