#index {
  nav {
    margin-bottom: 40px;
  }
  .form-container {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-container input:not(:nth-child(3)), button {
    width: 20% !important;
    margin-left: auto;
    margin-right: auto;
    
  }
  .form-container input[data-type="range"] {
    width: 8% !important;
  }
//  .ui-slider-handle {
//    width: 20px !important;
//  }
}