#index {
  nav {
    margin-bottom: 40px;
  }
  .form-container {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-container .ui-btn {
    width: 20% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}