html, body {
  height: 100% !important;
  width: 100% !important;
}
.ui-page-theme-a, .ui-bar-inherit {
  text-shadow: none !important;
}
h2 {
  font-family: 'Oswald';
  font-size: 17px;
}
h3 {
  font-family: 'Oswald';
  font-size: 16px;
}
a, p {
  font-family: 'Open Sans';
  font-size: 12px;
}
a {
  text-decoration: none !important;
  color: black !important;
}
::-webkit-input-placeholder {
  font-size: italic;
  font-size: 14px;
  font-family: 'Open Sans i';
  color: lightgray;
}
::-moz-placeholder {
  color: lightgray;
}
:-ms-input-placeholder {
  color: lightgray;
}
:-moz-placeholder {
  color: lightgray;
}
input {
  box-sizing: border-box;
  padding-left: 20px !important;
}
